<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
    <section class="header">
        <h1>Quiz Results</h1>
    </section>
    <main>
        <div id="container3">
            <h1>Your Score: <%= score %> out of 10</h1>
            <p>Time Taken: <%= time %></p>
            <a href="/questionPage"><button>Retry Quiz</button></a>
            <br>
            <p>Enter Username and Password to submit score</p>

            <form action="/submitScore" method="POST">
                <input type="hidden" name="score" value="<%= score %>">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Submit Score</button>
            </form>

        </div>
    </main>
</body>
</html>
